<style>
  header{
    text-align: center;
  }
  ul li {
    list-style: none;
    border: 1px solid #eeeeee;
    color: #f5a73c;
    padding-left: 3px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
  }
  ul li:hover{
    background: #eeeeee;
    cursor: pointer;
  }
  .kind{
    margin-top: 10px;
  }
  .active{
    background-color: #eeeeee;
  }
</style>

<div class="container-fluid">
  <header>栏目种类</header>
</div>

<div class="kind">
  <ul>
    <li *ngFor="let items of item" (click)="itemClick(items)" [class]="items.active? 'active' : '' ">**{{items.label}}</li>
  </ul>
</div>
