<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">我的储存室</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">个人收藏</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">我的天地</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">我的物品</a>
      </li>
    </ul>
  </div>
</nav>
